
<div class="container container-top-bottom-margin">
  <div class="title_box">
    <h2 class="web_title">
      <span class="big_font">H</span>obby Share
    </h2>
    <h4 class="web_sub_title">
      in Kookmin Univ.
    </h4>
  </div>
</div>
