.custom-button{
    border: none;
    outline:none;    
    text-decoration: none;
    display: block;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;

	font-size:16px;
    padding:10px 15px 10px 15px;
	-webkit-transform: translate(0, 0);
	-moz-transform: translate(0, 0);
	transform: translate(0, 0);

	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-ms-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;    
    
    -webkit-box-shadow: 0px 6px 0px #DAD6CA;
    -moz-box-shadow: 0px 6px 0px #DAD6CA;
    box-shadow: 0px 6px 0px #DAD6CA;
    color: #66584e;
    background:#FFF5E3;
}

.custom-button:hover, .custom-button:visited, .custom-button:link{
    color:#66584e;
    border: none;
    outline:none; 
    text-decoration: none;
}

.custom-button:active{ 
    color:#66584e;
    border: none;
    outline:none; 
    text-decoration: none;
    -webkit-box-shadow: 0px 3px 0px #DAD6CA;
    -moz-box-shadow: 0px 3px 0px #DAD6CA;
    box-shadow: 0px 3px 0px #DAD6CA;
    -webkit-transform: translate(0, 3px);
	-moz-transform: translate(0, 3px);
	transform: translate(0, 3px);
}