// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  font-family: 'Lato', Calibri, Arial, sans-serif;
  background: url(/assets/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	// background: #fff url(/assets/background.jpg);
	font-weight: 300;
	// font-size: 14px;
	// font-size: 1.4rem;
	color: #333;
	-webkit-font-smoothing: antialiased;
	overflow-y: scroll;
	overflow-x: hidden;
}

.container-top-bottom-margin{
  margin-top: 100px;
  margin-bottom: 100px;
}

.card{
  color:white;
  font-size: 1.3em;
  a, a:active, a:link, a:visited, a:hover {    
    color:white;
    text-decoration: none;
  }
  a:focus{
    outline: none;
  }
  margin: 20px;
  width : 200px;
  height : 300px;
  background-color: white;
  border-radius : 10px;
  padding : 5px;
  box-shadow: 2px 2px 10px rgba(0,0,0, 0.8) !important;
}

.card-image{
  position: relative;
  width : 100%;
  height : 60%;
  // background-color: grey;
  border-radius: 5px;
}

.card-content{
  width: 100%;
  height : 40%;
  position:relative;
  // background-color: green;
  
  .card-user{
    padding: 0em 0.2em;
    height: 20%;
    .card-name{
      width:55%;
      overflow: hidden;
      text-overflow: ellipsis;
      float: left;
      font-weight: bold;
      font-size: 20px;
      display: -webkit-box;
      -webkit-line-clamp: 1; /* 라인수 */
      -webkit-box-orient: vertical;
      line-height: 1em;
      height: 1em;
      word-wrap:break-word;
    }
    .card-major{
      width:45%;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: right;
      float: right;
      font-size:14px;
      margin-top: 0.2em;
      display: -webkit-box;
      -webkit-line-clamp: 1; /* 라인수 */
      -webkit-box-orient: vertical;
      line-height: 1em;
      height: 1em;
      word-wrap:break-word;
    }
  }
  .card-introduce-container{
    background: rgba(0,0,0, 0.2);
    border-radius: 15px;
    padding: 4px;
    margin: 0.1em 0.4em;
    .card-introduce{      
      font-style: italic;
      clear: both;
      font-size: 16px;
      text-align: center;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3; /* 라인수 */
      -webkit-box-orient: vertical;
      word-wrap:break-word; 
      line-height: 1em;
      height: 3em; /* line-height 가 1.2em 이고 3라인을 자르기 때문에 height는 1.2em * 3 = 3.6em */      
      .front-quotes{
        font-size: 1em;
      }
    }
  }
  .card-category{
    font-weight: bold;
    font-size: 14px;
    text-align:center;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* 라인수 */
    -webkit-box-orient: vertical;
    word-wrap:break-word; 
    line-height: 1em;
    height: 2em; /* line-height 가 1.2em 이고 3라인을 자르기 때문에 height는 1.2em * 3 = 3.6em */
    margin-top: 0.3em;
  }
}

.message_box{
  box-shadow: 5px 5px 10px rgba(0,0,0, 0.8);
  width: 100%;
  min-height: 380px;
  padding: 10px 20px;
  background-color: rgba(255,255,255, 0.7);
  border-radius: 20px;
  margin-bottom: 30px;
  border: 1px solid grey;
  .message_title{
    font-size: 24px;
    font-weight: bold;
    margin: 20px 20px;
    min-height: 50px;
  }
  .message_content{
    font-size: 18px;
    margin: 20px 20px;
    min-height: 250px;
  }
}

.category_box{
  height: 50px;
  width: 100%;
}
.float_right{
  float: right;
}

.label_attr{
  display: inline-block;
}

.male_color{
    // background-color: rgba(  22,147,167, 0.7);
    background-color :#00A0B0;
}

.female_color{
      // background-color: rgba(232,74,95, 0.7);
      background-color :#CC333F;
}

.my_card{
  color: white;
  font-size: 2em;
  position:fixed;
  top:150px;
  left: 100px;
  margin-right: auto;
  margin-left: auto;
  /* give it dimensions */
  min-height: 10em;
  width: 90%;
  margin: 20px;
  width : 300px;
  height : 450px;
  border-radius : 10px;
  padding : 5px;
   box-shadow: 2px 2px 10px rgba(0,0,0, 0.8);
}

.random_image{
  width:100%;
  height:100%;
  // background-size: cover;
}

.web_title{
  .big_font{
    font-size: 230px;
  }
  font-size: 150px;
  font-weight: bold;
  color: white;
}
.web_sub_title{
  margin-top: 30px;
  font-size: 90px;
  text-align: right;
  color: white;
}
.title_box{
  margin-top: 100px;
  padding: 50px;
  border-radius: 50px;
  background-color: rgba(0,0,0, 0.8);
}

.footer{
  margin-right:-250px;
  // margin-bottom:-100px;
  // width:200px;
  // height:00px;  
  position: fixed;
  bottom: 0px;
  right: 0px;
  // z-index: 999;
  float:right;
  // background: url(/assets/likelionkookmin.jpg) no-repeat center center fixed;  
}

.alert_message{
  font-weight: bold;
  color:white;
  font-size:24px;
}

.sign_in_up_attr{
  
  color: white;
  font-weight: bold;
  font-size: 18px;
  margin: 5px;
}

.alert_attr{
  
  z-index: 1000;  
  position: fixed;
  right: 30px;
  bottom: 20px;
  
}

.textarea-style{
  resize: none;
  min-height: 150px;
  
}

//===== detail_page =====//
.detail-container{
  position: relative;
  color:white;
  font-size: 1.3em;  
  margin: 20px;
  width : 100%;
  min-height : 500px;
  border-radius : 10px;
  padding : 10px;
  box-shadow: 2px 2px 10px rgba(0,0,0, 0.8);  
  
  .message-button{
    position: absolute;
    top:10px;
    right:10px;    
  }
  
  .detail-user-image{
    display: inline-block;
    width: 80%;    
    margin: 30px 0px;
    border-radius: 30px;
  }
  
  .detail-name{
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  .detail-major{
    font-size: 20px;
    margin-bottom: 50px;
  }
  .detail-category{
    font-size: 24px;
    font-weight: bold;
  }
  
  .detail-introduce{
    margin: 60px 30px 50px 0px;
    font-size: 20px;
    font-style: italic;
  }
}

.comment-container{
  color:black;
  font-size: 1.3em;  
  margin: 20px;
  width : 100%;
  border-radius : 10px;
  padding : 10px;
  box-shadow: 2px 2px 10px rgba(0,0,0, 0.8);  
  .comment-user{
    font-weight: bold;
    font-size:24px;
    float:left;
  }
  .comment-date{
    font-size:14px;
    float:right;
  }
  .comment-content{
    padding: 5px 10px;
    font-style:italic;
    font-size:18px;
    clear:both;
  }
  
  .comment-item{
    width:100%;
  }  
}

.modal-textarea{
   resize: none;
   min-height: 100px;
}